---
---

@import "normalize";
@import "mixins";
@import "simpleLightbox.min.scss";

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$accent:#0083B0;
$light-accent: $accent;
$dark-accent: $accent;

$dark-text: #333;
$medium-text: #555;
$light-text: #888;
$light-border: #ddd;


$gradient1:#00B4DB;
$gradient2: $accent;
$gradient3:#F4E14C;
$gradient4: #E5B300;

/* Outer container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main {
    width: 95%;
    max-width: 56rem;
    margin: 2rem auto;

    @include breakpoint('medium') {
        margin: 4rem auto; 
    }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: Inter, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    font-size: 100%;
    color: $medium-text;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 700;
    color: $dark-text;
}
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; font-weight: 900; margin-bottom: 0}
  h2 { font-size: 3.2rem; line-height: 1.25; letter-spacing: -.1rem; margin-top: 4rem;}
  h3 { font-size: 2.4rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 1.4rem; line-height: 1.35; letter-spacing: -.06rem; margin-top: 2rem;}

.tagline {
    .main > & {
        font-size: 2em;
        margin: 0.5rem 0 2rem 0;
        line-height: 1.25;
        letter-spacing: -.1rem;
    }
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    color: $light-accent;
}

p, li, dd {
    max-width: 48rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

    list-style-image: url('/images/box.svg');
}

p > a, .bottom-navigation a {
    color: $dark-accent;
    text-decoration: none;
    border-bottom: 2px dotted $light-text;
    font-weight: 400;
    position: relative;
    transition: color .2s ease-out;

    &:hover {
        color: $dark-accent;
        right: 0;
    }
    &:hover:after {
        border-color: $dark-accent;
        right: 0;
    }
    &:after {
        border-radius: 1em;
        border-top: 2px solid $dark-accent;
        content: "";
        position: absolute;
        right: 100%;
        bottom: -2px;
        left: 0;
        transition: right .3s ease-in,
                border-color .2s ease-in;
    }
    &:hover:after {
        right: 0;
    }
}

strong {
    font-weight: bold;
}

header.subpage {
    padding: 1rem 0;
    border-bottom: 1px dotted $light-text;
    margin-top: -2rem;
    margin-bottom: 1rem;
    a {
        text-decoration: none;
    }

    h3, h4 {
        margin: 0;
    }
    h3 {
        font-size: 1.2rem;
        letter-spacing: -.02rem;
    }
    h4 {
        font-size: 1rem;
        font-weight: 400;
        color: $light-text;
    }
}

a {
    &.linkedin svg {
        height: 1.8rem;
    }

    .bottom-navigation & svg {
        height: 1.2rem;
        padding-top: 3px;
        path {
            fill: $accent;
        }
    }

    svg {
        vertical-align: top;
        fill: $dark-accent;
    }
}


/* 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
    display: block;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    img  {
        max-height: 12rem;
        margin: 0.5rem;
    }
}

.border img {
    border: 1px solid $light-border;
}

a.float-right {
    display: block;
    float: right;
    margin-left: 2rem;
    img {
        width: 20rem;
    }
}

.full-width {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.specs {
    dt {
        color: $light-accent;
        font-weight: 400;
    }
    dd {
        margin-left: 0;
        margin-bottom: 1rem;
        max-width: 48rem;
    }
}

/* Portfolio List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.portfolio-list {
    display: flex;
    flex-direction: column;

    @include breakpoint('medium') {
        flex: 0 0 calc(50% - 0.5em);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &::after {
            content: "";
            flex: 0 0 calc(50% - 0.5em);;
        }
    }

    @include breakpoint('large') {
        &::after {
            content: "";
            flex: 0 0 calc(33% - 0.5em);;
        }
    }

    .portfolio-teaser {
        margin-bottom: 2rem;
        position: relative;

        @include breakpoint('medium') {
            flex: 0 0 calc(50% - 0.5em);
        }

        @include breakpoint('large') {
            flex: 0 0 calc(33% - 0.5em);
        }
        
        img {
            width: 100%;
            transition: filter .4s ease-in-out;

            @media (hover: hover) {
                filter: saturate(0%);
            }
        }

        &:hover {
            .overlay {
                opacity: 0;
                transition: opacity .4s ease-in-out;
            }

            img {
                filter: saturate(100%);
                transition: filter .4s ease-in-out;
            }
        }

        $accent-gradient: darken($accent, 15%);
        .overlay {
            position: absolute;
            background: linear-gradient(to top, rgba($dark-text, 60%) 0%, rgba($dark-text, 0%) 30%);
            opacity: 1;
            transition: opacity .4s ease-in-out;
            
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            @media (hover: hover) {
                background: linear-gradient(to top, rgba($accent-gradient, 100%) 0%, rgba($accent-gradient, 30%) 30%, rgba($accent-gradient, 10%) 100%);
            }

        }

        .label {
            position: absolute;
            bottom: 0.7rem;
            left: 1rem;
            line-height: 1;
            pointer-events:none;
            
            .title {
                font-weight: 900;
                color: #fff;
                font-size: 2rem;
                text-decoration: none;
                text-shadow: 1px 1px 10px $dark-text;
            }
            
        }
    }
}


/* CV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
        @include breakpoint('medium') {
            flex: 0 0 calc(50% - 0.5em);
        }
    }

    h3, p {
        margin-bottom: 0;
    }
    h3 {
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: -.06rem;
        margin-top: 1rem;
    }
    p {
        font-size: 1.0rem;
        line-height: 1.75;
        letter-spacing: -.02rem;
        font-weight: 400;
    }

    img.flag {
        display: inline-block;
        vertical-align: middle;
        height: 12px;
        margin-bottom: 3px;
    }
}

/* Portfolio item page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bottom-navigation{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint('medium') {
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        display: block;
        margin: 1rem 0;
    }

    div.empty{
        width: 7rem;
    }
}

/* Video
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.skills {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        list-style-type: none;
        list-style-image: none;
        padding: 0.05rem 0.5rem;
        border-radius: 5px;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        color: #E5F8FF;
        font-weight: 400;
        cursor: default;

        background-image: linear-gradient(135deg, $gradient1, $gradient2 50%, $gradient3 55%, $gradient4);

        background-size: 300% 100%;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        &:hover {
            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

            color: #524000;
        }
    }
}

/* Video
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vimeo {
    width: 100%;
    height: 24rem;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    border-top: 1px solid $light-accent;
    margin-top: 4rem;
    padding-top: 1rem;
    p {
        font-size: 1rem;
    }
}