---
---

@import "normalize";
@import "mixins";

.main {
    max-width: 56rem;
    margin: 4rem auto;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: Inter, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    font-size: 100%;
    color: #555;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #222;
}
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; font-weight: 900; margin-bottom: 0}
  h2 { font-size: 3.2rem; line-height: 1.25; letter-spacing: -.1rem; margin-top: 4rem;}
  h3 { font-size: 2.4rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 2.0rem; line-height: 1.35; letter-spacing: -.08rem; }

.tagline {
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
    color:#89b4ca;
    margin: 0 0 2rem 0;
}

p {
    max-width: 48rem;
    margin-top: 0;
    font-size: 1.2rem;
}

a {
    color: #49a0cc;
    text-decoration: underline dotted #555;
    font-weight: 400;
}

.portfolio-list {
    display: flex;
    flex-direction: column;

    @include breakpoint('medium') {
        flex: 0 0 calc(50% - 0.5em);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolio-teaser {
        margin-bottom: 2rem;
        position: relative;

        @include breakpoint('medium') {
            flex: 0 0 calc(50% - 0.5em);
        }
        
        img {
            width: 100%;
        }

        div {
            position: absolute;
            bottom: 0.7rem;
            left: 1rem;
            
            .title {
                font-weight: 900;
                color: #fff;
                font-size: 2rem;
                text-decoration: none;
            }
            
        }
    }
}