      <div class="row">
        <section id="contact" class="large-12 columns">
          <a name="contact"></a>
          <h3 data-magellan-destination="education">Contact</h3>

          <div class="row">
            <div class="large-8 columns">
              <h6>Send me an Email</h6>
              <form id="contact-form" method="post" action="submit_form.php">
                <div class="row">
                  <div class="large-6 columns">
                    <input type="text" placeholder="Name" name="name" id="contact-name" required="">
                  </div>
                  <div class="large-6 columns">
                    <input type="email" placeholder="Email" name="email" id="contact-email" required="">
                  </div>
                </div>

                <p class="antispam">Leave this empty:<input name="url" /></p>

                <div class="row">
                  <div class="large-12 columns">
                    <textarea placeholder="Message" rows="5" name="message" id="contact-message" required=""></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <a class="small button" onclick="document.forms[0].submit()" href="#">Send message</a>
                    <input type="submit" style="display:none" />
                  </div>
                </div>
              </form>
            </div>

            <div class="large-4 columns social-networks">
              <h6>Me elsewhere on the web</h6>
              <ul>
                <li style="background-image: url(images/social_icons/behance.png)">
                  <a href="https://www.behance.net/davidslr">David on Behance</a>
                </li>
                <li style="background-image: url(images/social_icons/twitter.png)">
                  <a href="https://twitter.com/dave_slr">@dave_slr on Twitter</a>
                </li>
                <li style="background-image: url(images/social_icons/linkedin.png)">
                  <a href="https://www.linkedin.com/in/davidslr">David on LinkedIn</a>
                </li>
                <li style="background-image: url(images/social_icons/vimeo.png)">
                  <a href="https://vimeo.com/daveslr">David on Vimeo</a>
                </li>
                <li style="background-image: url(images/social_icons/google.png)">
                  <a href="https://plus.google.com/115813833196366934757">David on Google+</a>
                </li>
                <li style="background-image: url(images/social_icons/xing.png)">
                  <a href="https://www.xing.com/profile/David_Schneller">David on Xing.de</a>
                </li>
              </ul>
            </div>

          </div>
        </section>
      </div>