<div class="cv">
    <div>
        <h2>Work</h2>
        <div>
            <header>
                <h3>dalibri digital solutions</h3>
                <p class="tagline">10/2020 - today | <img src="/images/flag-de.svg" class="flag" /> Leverkusen, Germany</p>
            </header>
            <header>
                <h3>Cognizant Interactive Studio</h3>
                <p class="tagline">6/2018 - 09/2020 | <img src="/images/flag-de.svg" class="flag" /> Cologne, Germany</p>
            </header>
            <header>
                <h3>Schibsted Products & Technology</h3>
                <p class="tagline">06/2015 - 06/2018 | <img src="/images/flag-se.svg" class="flag" /> Stockholm, Sweden</p>
            </header>
            <header>
                <h3>Mobile Media & Communication Lab</h3>
                <p>University of Appplied Sciences Aachen</p>
                <p class="tagline">11/2009 - 08/2012 | <img src="/images/flag-de.svg" class="flag" /> Aachen, Germany</p>
            </header>
        </div>
    </div>
    
    <div>
        <h2>Education</h2>
        <div>
            <header>
                <h3>Interaction Design & Technologies, M.Sc.</h3>
                <p>Chalmers University of Technology</p>
                <p class="tagline">2012 - 2014, <img src="/images/flag-se.svg" class="flag" /> Göteborg, Sweden</p>
            </header>
            <p></p>
        </div>
        <div>
            <header>
                <h3>Computer Science, Dipl.-Inf.(FH)</h3>
                <p>University of Appplied Sciences Aachen</p>
                <p class="tagline">2005 - 2009, <img src="/images/flag-de.svg" class="flag" /> Aachen, Germany</p>
            </header>
            <p></p>
        </div>
    </div>
</div>