      <div class="row">
        <section class="chronicle large-12 columns">
          <a name="experience"></a>
          <h3 data-magellan-destination="experience">Experience</h3>

          <article>
            <div class="row">
              <div class="period">
                <span class="month august">August</span>
                <span>2012</span>
                <span>-</span>
                <span class="month november">November</span>
                <span>2009</span>
              </div>

              <div class="large-10 columns">
                <div class="details"> 
                  <p class="small-period">8/2012 - 11/2009</p>
                  <div class="row">
                    <div class="large-9 columns">
                      <h4>University of Applied Sciences Aachen<br />mobile media & communications Lab</h4>
                    </div>
                    
                    <div class="logo-column">
                      <img src=" images/logo_fhaachen.gif" />
                    </div>
                  </div>
                  
                  <div class="properties row">
                    <p class="role">Software Developer</p>
                    <p class="link"><a href="http://www.m2c-lab.fh-aachen.de" target="_blank">m2c.fh-aachen.de</a></p>
                    <p class="location">Aachen, DE</p>
                  </div>
                  <p class="description">After graduating from my CS studies I started working at the mobile media and communication lab at my University. This department runs research and development projects for industrial clients or government-funded projects. I worked on projects as a Software Developer for a Windows Mobile application for care of the elderly, a <strong>Silverlight</strong> application for tool management and a board computer application for e-car sharing vehicles in <strong>WPF</strong>. In that time I worked a lot with <strong>Visual Studio</strong> and <strong>Expression Blend</strong>.</p>
                  <p>During the tool management project I was <strong>lead developer</strong> for three other team members and responsible for the communication with the client. Aside from that I also have been an advisor for two bachelor thesis projects and held two lectures.</p>
                </div>
              </div>
            </div>
          </article>

          <article>
            <div class="row">
              <div class="period">
                <span class="month august">August</span>
                <span>2009</span>
                <span>-</span>
                <span class="month august">August</span>
                <span>2008</span>
              </div>

              <div class="large-10 columns">
                <div class="details"> 
                  <p class="small-period">8/2009 - 8/2008</p>
                  <div class="row">
                    <div class="large-9 columns">
                      <h4>Siemens AG</h4>
                    </div>
                    
                    <div class="logo-column">
                      <img src=" images/logo_siemens.png" />
                    </div>
                  </div>
                  
                  <div class="properties row">
                    <p class="role">Internship and Diploma Thesis</p>
                    <p class="link"><a href="http://www.siemens.de" target="_blank">siemens.de</a></p>
                    <p class="location">Cologne, DE</p>
                  </div>
                  <p class="description">After finishing all courses of my computer science study I had an intership semester at Siemens in Cologne where I developed a 3D visualization of a warehouse using <strong>Microsoft XNA and C#</strong>. Afterwards I executed my thesis project about migrating warehouse administration software from C++ and MFC to <strong>C# and WPF</strong> and also developing an application to bridge legacy system components into the new system.</p>
                </div>
              </div>
            </div>
          </article>

          <article>
            <div class="row">
              <div class="period">
                  <span class="month september">September</span>
                  <span>2008</span>
                  <span>-</span>
                  <span class="month december">December</span>
                  <span>2007</span>
              </div>

              <div class="large-10 columns">
                <div class="details"> 
                  <p class="small-period">9/2008 - 12/2007</p>
                  <div class="row">
                    <div class="large-9 columns">
                      <h4>Luna Park GmbH</h4>
                    </div>
                    
                    <div class="logo-column">
                      <img src=" images/logo_lunapark.jpg" />
                    </div>
                  </div>
                  
                  <div class="properties row">
                    <p class="role">Web Developer</p>
                    <p class="link"><a href="http://www.luna-park.de" target="_blank">luna-park.de</a></p>
                    <p class="location">Cologne, DE</p>
                  </div>
                  <p class="description">Luna-Park is an internet agency specialized in SEO. During my studies I worked there part-time and developed web sites using <strong>HTML, CSS, PHP</strong> and some Ruby scripts.</p>
                </div>
              </div>
            </div>
          </article>

        </section>
      </div>

      <div class="row">
        <section class="chronicle large-12 columns">
          <a name="education"></a>
          <h3 data-magellan-destination="education">Education</h3>

          <article>
            <div class="row">
              <div class="period">
                  <span class="month august">November</span>
                  <span>2014</span>
                  <span>-</span>
                  <span class="month september">September</span>
                  <span>2012</span>
              </div>

              <div class="large-10 columns">
                <div class="details"> 
                  <p class="small-period">11/2014 - 9/2012</p>
                  <div class="row">
                    <div class="large-9 columns">
                      <h4>Interaction Design & Technologies</h4>
                    </div>
                    
                    <div class="logo-column">
                      <img src=" images/logo_chalmers.png" />
                    </div>
                  </div>
                  
                  <div class="properties row">
                    <p class="degree">Master of Science</p>
                    <p class="link"><a href="http://www.ixdcth.se" target="_blank">ixdcth.se</a></p>
                    <p class="location">Göteborg, SE</p>
                  </div>
                  <p class="description">Recently I finished the two-year master program in Interaction Design & Technologies at Chalmers University in Göteborg, Sweden. The program consists of courses that mostly teach user-centered design methods and design thinking as well as developing projects in groups, using different kind of technologies and materials. My chosen courses focus mostly on user interface design and some tangible interaction.</p>
                </div>
              </div>
            </div>
          </article>

          <article>
            <div class="row">
              <div class="period">
                  <span class="month august">August</span>
                  <span>2009</span>
                  <span>-</span>
                  <span class="month september">September</span>
                  <span>2005</span>
              </div>

              <div class="large-10 columns">
                <div class="details"> 
                  <p class="small-period">8/2009 - 9/2005</p>
                  <div class="row">
                    <div class="large-9 columns">
                      <h4>Computer Science</h4>
                    </div>
                    
                    <div class="logo-column">
                      <img src=" images/logo_fhaachen.gif" />
                    </div>
                  </div>
                  
                  <div class="properties row">
                    <p class="degree">Diplom-Informatiker (FH)</p>
                    <p class="link"><a href="http://www.fh-aachen.de" target="_blank">fh-aachen.de</a></p>
                    <p class="location">Aachen, DE</p>
                  </div>
                  <p class="description">I studied Computer Science in Aachen and got a german Diplom degree which is aquired in a four-year programme and rated higher than a Bachelor degree. During my studies I set my focus on Software Development and chose courses like Web Development, Industrial Software Development and Mobile Information Systems. After 6 semesters I did my internship semester and thesis project at Siemens in Cologne.</p>
                </div>
              </div>
            </div>
          </article>

        </section>
      </div>