      <header class="row">
        <hgroup class="large-6 columns">
          <h1 data-magellan-destination="intro">David Schneller</h1>
          <h2 class="tagline">Software Developer and Interaction Designer in training</h2>
        </hgroup>

        <nav class="large-6 columns">
          <div data-magellan-expedition="fixed">
            <div>
              <ul class="clear-after">
                <li data-magellan-arrival="intro" class="active">
                  <a href="#intro">Intro</a>
                </li>
                <li data-magellan-arrival="portfolio">
                  <a href="#portfolio">Portfolio</a>
                </li>
                <li data-magellan-arrival="experience">
                  <a href="#experience">Experience</a>
                </li>
                <li data-magellan-arrival="education">
                  <a href="#education">Education</a>
                </li>
                <li data-magellan-arrival="contact">
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div class="row">
        <p class="introduction-text">Hi, I am David, a software developer and designer from Germany. I love programming and creating products that are enjoyable to use. I recently graduated from the Interaction Design & Technologies master program in Gothenburg, Sweden. This let me transition more into the design aspect of software development. Have a look at some of the projects I have been working on.</p>
      </div>